[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/katamran
[access "refs/for/refs/*"]
	read = group user/katamran
	push = group user/katamran
	label-Code-Review = -2..+2 group user/katamran
	label-Verified = -1..+1 group user/katamran
	rebase = group user/katamran
	removeReviewer = group user/katamran
	submit = group user/katamran
[access "refs/heads/*"]
	read = group user/katamran
	create = group user/katamran
	push = +force group user/katamran
	pushMerge = group user/katamran
[access "refs/tags/*"]
	push = group user/katamran
	push = +force group user/katamran
